/* COMING SOON PAGE */
body, html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background: #333;
    height: 100%;
    background-image: url("https://cdn.glitch.com/e2907629-9ad9-4669-8889-6c1d83447328%2Fgiphy.gif?1547918785270");
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

hr {
    margin: auto;
    width: 100%;
}

/* alert box */ 
.alert {
  padding: 10px;
  background-color: #FF9900;
  text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 25px;
}

/* Countdown */
#demo {
    font-weight: bold;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}